
.top7Sect {
    height: 100%;
    width: 100%;
}

.top7Article1 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.top7Article1_right {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.top7Article1_right h1 {
    font-size: 4rem;
}

.top7Article1_right h1 span {
    color: #20b2aa;
}

.top7Article1_right h2 {
    font-size: 2.5rem;
}

.top7-image1 {
    max-height: 400px;
    margin: 25px;
}

.top7Article2 {
    background: #512412;
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.feature_Sec:nth-child(1) {
    border-bottom: 2px solid #fff5;
}

.feature_Sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 75px 0;
}

.feature {
    width: 30%;
    padding: 25px;
}

.featureBorder {
    border-right: 2px solid #fff5;
}
